$white:   #fffefe;
$indigo:  #635199; 
$blue:    #3498db;
$aqua:    #158894;
$teal:    #249fa5;
$khaki:   #e4bf93;
$red:     #b64233;
$purple:  #594c6c;
$grape:   #834e89; 
$orange:  #f25325;
$yellow:  #f6bd79;
$cream:   #F5EBD5;
$sunny:   #f1c40f; 
