.btn-danger {
  background: $red;
  &:hover {
    background: mix($red, black, 90%);
  }
}
.navbar {
  background: $teal;
}
.navbar-inverse
{
  .navbar-nav > li > a {
    color: $white;
    &:hover {
      color: $white;
      background: $blue;
    }
  }
  .navbar-brand {
    color: $white;
  }
}
.row {
  ::selection {
    color: $blue;
    background: $yellow;
  }
  ::-moz-selection {
    color: $blue;
    background: $yellow;
  }
}
////////////////////////////////
#login { background: $purple; color: white }
#register-a { border-color: $purple; }
#login-status {
  a {color: $teal;}
}
#register { background: $teal; color: white; }
.row {
  .projects { a { border-color: $orange } }
  .roles { a { border-color: $red } }
  .tickets { a { border-color: $indigo } }
}
