$navColor: $teal; 
.row {
  ::selection {
    color: $blue;
    background: $yellow;
  }
  ::-moz-selection {
    color: $blue;
    background: $yellow;
  }
}
////////////////////////////////
.btn { color: white }; 
table { a { color: $teal } }; 

.cool 		{ color: #77a89a };  
.lukewarm 	{ color: #d4ca19 }; 
.warmwarm 	{ color: #d47d19 }; 
.hot 		{ color: #d44219 }; 
