@import "_colors-elena.scss";
@import "_color-me-anything.scss"; 
@import "_theme-extend.scss"; 

body {
  padding-top: 65px;
  padding-bottom: 1em;
}
.navbar-right {
  margin-right: 0px;
}
.row {
  ::selection {
    color: $cream;
    background: $blue;
  }
  ::-moz-selection {
    color: $cream;
    background: $blue;
  }
}
.inline-title {
  text-align: center; 
  h4 { 
    display: inline-block; 
    margin: 0; 
    margin-right: 0.5em; 
  } 
}
#logo-header {
  background-image: url("/Content/logo.png"); 
  background-size: 16em; 
  height: 22em; 
  width: 25em; 
  margin: 0 auto; 
  background-position: 1em 5%; 
  background-repeat: no-repeat; 
  margin-botton: 10em; 
  #logo-text {
    position: relative; 
    top: 6em; 
    left: 3em; 
    h1 {
      color: #666; 
    } 
    h4 {
      color: #aaa; 
    } 
  }
} 
