@using FlySwatter.Models; 
@model IEnumerable<FlySwatter.Models.ApplicationUser>

@{
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row" id="manageroles">
    <div class="col-sm-12">
        @Html.DisplayForModel("editRoles", "cranky", Model )
        <table class="table">
            <thead>
                <tr>
                    <th>
                        User
                    </th>
                    @{ var roles = new string[] { "Submitter", "Developer", "ProjectManager", "Admin" }; }
                    @foreach (var role in roles)
                    {
                        <th>
                            @role
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th>@user.Email.Split('@')[0]</th>
                        @foreach (string role in roles)
                        {
                            RoleHelper h = new RoleHelper(); 
                            h.IsUserInRole(user.Id, role); 
                            if (h.IsUserInRole(user.Id, role))
                            {
                                <td class="sel"></td>
                            }
                            else
                            {
                                <td class="nsel"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-danger">Commit Changes</button>
    </div>
</div>