@using FlySwatter.Models; 
@model IEnumerable<FlySwatter.Models.ApplicationUser>

@{
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>


<link href="~/Content/myforms.css" rel="stylesheet" /> 
<div class="row" id="manageroles">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        User
                    </th>
                    @{ var roles = new string[] { "Submitter", "Developer", "ProjectManager", "Admin" }; }
                    @foreach (var role in roles)
                    {
                        <th>
                            @role
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th>@user.Email.Split('@')[0]</th>
                        @foreach (string role in roles)
                        {
                            RoleHelper h = new RoleHelper(); 
                            h.IsUserInRole(user.Id, role); 
                            if (h.IsUserInRole(user.Id, role))
                            {
                                <td id="1" class="sel"></td>
                            }
                            else
                            {
                                <td id="0" class="nsel"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-danger">Commit Changes</button>
    </div>
</div>