@model FlySwatter.Models.VerifyEmailViewModel
@{
    ViewBag.Title = "Email Verify";
}

<h2>@ViewBag.Title</h2>

<h4>Email Sent!</h4>
<p> To this address: <span class="text-warning">@Model.Email</span></p>
<p> You can expect an email to arrive soon. If it doesn't appear in a minute or two give us call or email.</p>
