@model FlySwatter.Models.Project

@{
    ViewBag.Title = Model.Name + " | Projects";
}

<div class="row">
    <div class="text-center col-md-12">
        <h2>@Model.Name</h2>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-primary", @style = "color: white" })
        @Html.ActionLink("Add User", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-info", @style = "color: white" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-xs btn-danger", @style = "color: white" })
    </div>
</div>
<hr />
<div class="row">
    <div class="text-center col-md-12">
        <p>
            The page for editing and viewing a project. 
        </p>
    </div>
</div>
