@model FlySwatter.Models.UserDetailsView 

@{
    ViewBag.Title = "Users | Flyswatter";
    var fullname = Model.FirstName + " " + Model.LastName; 
}

<div>
    <h2 class="text-capitalize text-center">@Model.FirstName</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt/> Email
                <dd/> @Html.DisplayFor(m => m.Email) 

                <dt/> Tickets
                <dd/> @Model.TicketCount 

                <dt/> Favorite Color
                <dd/> Blue
            </dl>
        </div>
        <div class="col-sm-2">
            <p>All sorts of fascinating information about this user. Actually this box probably won't exist soon. </p>
        </div>
    </div>
</div>
<p>
    <a href="/?Assigned=@Model.Email">Assigned Tickets</a>  | 
    <a href="/?Owned=@Model.Email">Owned Tickets</a>
</p>
