@model IEnumerable<FlySwatter.Models.Ticket>
@{
    Layout = null;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th> Priority </th>
            <th> Name </th>
            <th> Project </th>
            <th> Created </th>
            <th> Description </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Hello </td>
            <td> Wax </td>
            <td> Candles</td>
            <td> l'acqua </td>
            <td> Why? </td>
        </tr>
        @Model.sorters.ToString() 
    </tbody>
</table>