
<div class="admin-panel row">
    <div class="col-sm-12">
        <div class="admin-projects">
            <h2> Projects </h2>
            @Html.ActionLink("Create", "Create", "Projects", new { })
            @Html.ActionLink("Manage", "Edit", "Projects", new { })
        </div>
    </div>
</div>
