
<div class="admin-panel row">
    <div class="col-sm-12">
        <div class="admin">
            <h4> Projects </h4>
            <div class="projects">
                @Html.ActionLink("Create", "Create", "Projects")
                @Html.ActionLink("Manage", "Index", "Projects")
            </div>
            <div class="roles">
                <h4> Roles </h4>
                @Html.ActionLink("Manage", "Roles", "Users")
            </div>
        </div>
    </div>
</div>
