
<div class="admin-panel row">
    <div class="col-sm-12">
        <div class="admin-projects">
            <h4> Projects </h4>
            @Html.ActionLink("Create", "Create", "Projects")
            @Html.ActionLink("Manage", "Index", "Projects")
            <h4> Roles </h4>
            @Html.ActionLink("Manage", "Roles", "Users")
        </div>
    </div>
</div>
