
<div class="row">
    <div class="col-sm-12">
        <div class="submitter">
            <h4> Tickets </h4>
            @Html.ActionLink("Create", "Create", "Tickets")
            @Html.ActionLink("Manage", "Index", "Tickets")
        </div>
    </div>
</div>
